.personal-container{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: linear-gradient(180deg, #ff0052 -100%, rgba(0,0,0,0.5) 25%);
    width: auto;
    margin-top: 50px;
}

.education-and-experience-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.college-container, .professional-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.education-container h2, .experience-container h2, .languages-container h2{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.languages-container h4{
    text-align: left;
}

.languages-container h6{
    margin-bottom: 20px;
}

.linguaskill-score{
    display: flex;
    align-items: center;
}

.linguaskill-score img{
    height: 20px;
    width: auto;
    margin-right: 5px;
}

.college-card {
    padding: 0 10px;
    color: white;
    height: 90px;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 4px 20px black;
    margin-bottom: 20px;
}

.college-card:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.college-card h4 {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 1px #121212;
}

.college-card h6{
    font-size: 12px;
    color: #848484;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.college-card-img{
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, .15);
    margin-right: 10px;
    padding-right: 10px;
}

.college-card-img img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
}

.college-card-content{
    flex: 1;
    text-align: start;
}

@media(min-width:576px){
    .college-card {
        height: 140px;
        width: 450px;
    }
    
    .college-card h4 {
        font-size: 24px;
    }
    
    .college-card h6{
        font-size: 18px;
    }
    
    .college-card-img img{
        height: 120px;
        width: 120px;
    }
    
    .college-card-content{
        text-align: center;
    }
}

@media(min-width:1200px){
    .personal-container{
        display: flex;
        flex-direction: row;
        width: 1300px;
        margin-top: 50px;
    }
    
    .education-and-experience-container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        text-align: center;
    }
    
    .college-container, .professional-container{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    
    .education-container h2, .experience-container h2{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .college-card {
        padding: 0 10px;
        height: 115px;
        width: 430px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    .college-card h6{
        color: #848484;
        font-weight: 400;
    }
    
    .college-card-img img{
        height: 100px;
        width: 100px;
    }
    
    .college-card-content{
        flex: 1;
        text-align: center;
    }
}