.banner-container{
    padding: 80px 80px 100px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('assets/images/banner-background.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px #212121;
    width: 100%;
}

.banner-img-container {
    padding: 5px;
    border-radius: 50%;

    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
}

.banner-img-container img{
    border-radius: 50%;
    height: 95%;
    width: 95%;
    border: 1px solid rgba(255,255,255,0.5);
    position: absolute;
}

.banner-content-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner-content-container h1{
    font-size: 56px;
    text-shadow: 1px 1px 1px silver;
    margin-bottom: 5px;
}

.banner-content-container h2{
    margin-bottom: 25px;
    color: #656565;
}

.banner-content-container p{
    font-weight: 400;
    font-style: italic;
    color: silver;
    margin-bottom: 80px;
}

.banner-content-container span{
    color: #ff0052;
}

.banner-button-zone{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
}

.banner-button-zone button{
    align-self: center !important;
    width: 220px;
    height: 40px;

    background: transparent;
    border: 1px solid white;
    color: #ff0052;
    font-weight: bold;
}

.banner-container button:hover{
    color: #ff0052;
}

.banner-img-container::before {
    content: "";
    background-image: conic-gradient(
        #ff0052 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: relative;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}


