.banner-container{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('assets/images/banner-background.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px #212121;
    width: 100%;
}

.banner-first-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.banner-img-container {
    padding: 5px;
    border-radius: 50%;

    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-img-container img{
    border-radius: 50%;
    height: 95%;
    width: 95%;
    position: absolute;
}

.home-separator{
    width: 75%;
    height: 1px;
    background-color: #eaeaea;
    border-radius: 10px;
}

.personal-data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0px 0px 20px;
    width: 300px;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(1px);
    width: 100%;
}

.personal-data-container h4{
    font-weight: 400;
    color: #646464;
    font-size: 18px;
}

.personal-data-container span{
    color: white;
    font-weight: 400;
    margin-left: 10px;
}

.banner-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px);
}

.banner-content-container h1{
    font-size: 18px;
    text-shadow: 1px 1px 1px silver;
    margin-bottom: 5px;
}

.banner-content-container h2{
    font-size: 14px;
    margin-bottom: 25px;
    color: #656565;
}

.banner-content-container p{
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: silver;
    margin-bottom: 80px;
    flex-wrap: wrap;
    width: 250px;
    background-color: rgba(0,0,0,0.75);
}

.banner-content-container span{
    color: #ff0052;
}

.banner-button-zone{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.banner-button-zone button{
    align-self: flex-start !important;
    width: 280px !important;
    height: 40px;
    background: transparent;
    color: #ff0052;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    padding: 25px 30px;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
}

.banner-button-zone button span{
    position: absolute;
    display: block;
}

.banner-button-zone button span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #fff);
    animation: animate1 3s linear infinite;
}

@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

.banner-button-zone button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#fff);
    animation: animate2 3s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

.banner-button-zone button span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#fff);
    animation: animate3 3s linear infinite;
    animation-delay: 1.50s;
}

@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.banner-button-zone button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#fff);
    animation: animate4 3s linear infinite;
    animation-delay: 2.25s;
}

@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.banner-container button:hover{
    color: #ff0052;
}

.banner-img-container::before {
    content: "";
    background-image: conic-gradient(
        #ff0052 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: relative;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@media(min-width:576px){

    .banner-img-container {
        padding: 5px;
        height: 300px;
        width: 300px;
    }

    .personal-container{
        width: 520px;
    }
    
    .banner-content-container h1{
        font-size: 28px;
    }
    
    .banner-content-container h2{
        font-size: 22px;
    }
    
    .banner-content-container p{
        font-size: 18px;
        width: 450px;
    }
}

@media(min-width:768px){

    .banner-container{
        padding: 15px;
    }

    .banner-img-container {
        height: 400px;
        width: 400px;
    }

    .personal-container{
        width: 700px;
    }
    
    .banner-content-container h1{
        font-size: 36px;
    }
    
    .banner-content-container h2{
        font-size: 30px;
    }
    
    .banner-content-container p{
        font-size: 22px;
        width: 550px;
    }
}

@media(min-width:992px){
    .personal-container{
        width: 850px;
    }

    .banner-content-container p{
        width: 650px;
    }

}

@media(min-width:1200px){
    .banner-container{
        padding: 80px 80px 100px 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-image: url('assets/images/banner-background.jpg');
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 5px 5px 15px #212121;
        width: 100%;
    }
    
    .banner-img-container {
        padding: 5px;
        border-radius: 50%;
    
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 450px;
        width: 450px;
    }
    
    .banner-img-container img{
        border-radius: 50%;
        height: 95%;
        width: 95%;
        border: 1px solid rgba(255,255,255,0.5);
        position: absolute;
    }

    .personal-data-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        border-radius: 20px 0px 0px 20px;
        width: 260px;
    }
    
    .personal-data-container h4{
        font-weight: 400;
        color: #646464;
        font-size: 18px;
    }
    
    .personal-data-container span{
        color: white;
        font-weight: 400;
        margin-left: 10px;
    }
    
    .banner-content-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .banner-content-container h1{
        font-size: 56px;
        text-shadow: 1px 1px 1px silver;
        margin-bottom: 5px;
    }
    
    .banner-content-container h2{
        margin-bottom: 25px;
        color: #656565;
    }
    
    .banner-content-container p{
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        color: silver;
        margin-bottom: 80px;
    }
    
    .banner-content-container span{
        color: #ff0052;
    }
    
    .banner-button-zone{
        display: flex;
        justify-content: end;
        align-items: end;
        width: 100%;
    }
    
    .banner-button-zone button{
        align-self: center !important;
        width: 220px;
        height: 40px;
    
        background: transparent;
        border: 1px solid white;
        color: #ff0052;
        font-weight: bold;

        margin-bottom: 0;
        margin-left: 250px;
    }
    
    .banner-container button:hover{
        color: #ff0052;
    }
    
    .banner-img-container::before {
        content: "";
        background-image: conic-gradient(
            #ff0052 20deg,
            transparent 120deg
        );
        width: 150%;
        height: 150%;
        position: relative;
        animation: rotate 4s linear infinite;
    }
}


